
            * {
                margin: 0;
                padding: 0;
            }
            body {
                font-family: 'Roboto', sans-serif;
                color: #382633;
                margin: 0 auto;
                width: 1200px;
            }

            /*Header*/
            header h1 {
                font-family: 'Satisfy', cursive;
                font-size: 10em;           }

            /*Navigation*/
            nav ul {
                display: flex;
                list-style: none;
            }
            nav a {
                font-weight: bold;
                display: block;
                padding: 15px;
                text-decoration: none;
            }
            nav a:hover {
                text-decoration: underline;
            }

            /*Breadcrumbs*/
            .breadcrumb {
                display: flex;
                list-style: none;
            }
            .breadcrumb li {
                padding: 10px;
            }
            .breadcrumb li:after {
                content: '/';
                margin-left: 20px;
            }
            .breadcrumb li:last-child:after {
                content: '';
            }
            .breadcrumb a {
                text-decoration: none;
            }
            .breadcrumb a:hover {
                text-decoration: underline;
            }
            /*Gallery*/
            .quilt-pic {
                display: inline-block;
                border: 1px solid black;
                padding: 15px;
            }
            .quilt-pic img {
                width: 100%;
            }
            .quilt-pic h2 {
                margin: 30px 0 15px;
            }
            .quilt-pic a {
                color: black;
                text-decoration: none;

            }
            .quilt-pic p {
                line-height: 1.5;
            }

            /* Card  Assignment or  Resource */

            .card {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                width: 40%;
                border-radius: 5px;
              }
              
              .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
              }
              
              img {
                border-radius: 5px 5px 0 0;
              }
              
              .container {
                padding: 10px 16px;
              }